/sample-app/node_modules
/sample-app/public/hot
/sample-app/public/storage
/sample-app/storage/*.key
/sample-app/vendor
/sample-app/Homestead.json
/sample-app/Homestead.yaml
/sample-app/npm-debug.log
/sample-app/yarn-error.log
/sample-app/.env
/sample-app/.phpunit.result.cache
/.idea